</main>
<hr>
<footer>
    <div class="piePag">
    <article class="piePag-articulo">
        <img src="https://http2.mlstatic.com/resources/frontend/homes-korriban/assets/images/ecosystem/payment.svg" class="iconos" alt="Pagá con tarjeta o en efectivo">
        <p><strong>Pagá con tarjeta o en efectivo</strong></p>
        <p>Con MercadoLiebreCash tenés cuotas sin interés con tarjeta o efectivoen puntos de
        pago. ¡Y siempre es seguro!</p>
    </article>
    <article class="piePag-articulo">
        <img src="https://http2.mlstatic.com/resources/frontend/homes-korriban/assets/images/ecosystem/shipping.svg" class="iconos" alt="Envío gratis desde $ 2.500">
        <p><strong>Envío gratis desde los $ 2.500</strong></p>
        <p>Solo por estar registrad@ en MercadoLiebre tenés envíos gratis en miles de
        productos. Es un beneficio de MercadoPuntos.</p>
    </article>
    <article class="piePag-articulo">
        <img src="https://http2.mlstatic.com/resources/frontend/homes-korriban/assets/images/ecosystem/protected.svg" class="iconos" alt="Seguridad, de principio a fin">
        <p><strong>Seguridad, de principio a fin</strong></p>
        <p>¿No te gusta? ¡Devolvelo! En MercadoLiebre no hay nada que no puedas hacer
        porque estás siempre protegid@.</p>
    </article>
</div>
    <div class="copyrights"><p>Copyright © 1999-2019 MercadoLiebre S.R.L.</p></div>
</footer>
</body>
</html>